body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.loader{
  position: relative;
  width: 300px;
  height: 300px;
  filter: url(#gooey);
}
svg{
  width: 0;
  height: 0;
}
.loader span{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}
.loader span::before {
  content: '';
  position: absolute;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 39px #03a9f4;
  background: linear-gradient(#fce4ec, #03a9f4);
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  50%, 100% {
    transform: rotate(360deg);
  }
}


#mapid { height: 180px; }